<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h1>로그인</h1>

<form id="loginForm">
    <br>
    <label for="email">ID:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="pass">비번:</label>
    <input type="password" id="pass" name="pass" required>
    <br>
    <button type="button" onclick="submitForm()">로그인</button>
</form>


<script>

   function submitForm() {
       var form = document.getElementById('loginForm');
       var email = document.getElementById('email').value;
       var pass = document.getElementById('pass').value;




       var data = {
           email: email,
           pass: pass
       };

       var jsonData = JSON.stringify(data);

       var xhr = new XMLHttpRequest();
       xhr.open('POST', '/login');
       xhr.setRequestHeader('Content-Type', 'application/json');
       xhr.setRequestHeader('Authorization', 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiLquYDrtInsi50iLCJyb2xlcyI6IlJPTEVfVVNFUiIsImlkIjozNywiZXhwIjoxNzAxMzE0ODIzfQ.QWhkdzZ9tNomjjSDYtNlJ5GeyQbDAsTzJ45VTatkG7ukPO8oqIUvBlUJfnoNZJ85E5eIPbGG8rqQYPaKog3scw');
       xhr.onload = function() {
           if (xhr.status === 200) {

       alert("어서오시게");
       window.location.href = '/main';
   } else {

       alert("틀렸음");
       form.reset();
   }
       };
       xhr.send(jsonData);
   }
</script>

</body>
</html>
